* text=auto

*.py text eol=lf
*.html text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.bat text eol=crlf

*.efb binary
*.bin binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
